<!DOCTYPE html>
<html>
<head>
	<title>WIZAPP</title>
	<style type="text/css">
		ul.nav {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #333;
		}

		ul.nav li {
		  float: left;
		}

		ul.nav li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		ul.nav li a:hover:not(.active) {
		  background-color: #111;
		}

		.active {
		  background-color: #4CAF50;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="https://www.wizapp.online">
			<img src="/static/images/GF4N4.png" alt="TalkGPT" width="50">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			</ul>
		</div>
	  </div>
	</nav>
</body>
</html>
