<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.wizapp.online">
        <img src="/static/images/GF4N4.png" alt="TalkGPT" width="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('home') }}" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="{{ url_for('examples') }}" class="nav-link px-2 text-secondary">Query Examples</a></li>
            <li><a href="{{ url_for('talkgpt') }}" class="nav-link px-2 text-secondary">TalkGPT</a></li>
            <li><a href="{{ url_for('mobile') }}" class="nav-link px-2 text-secondary">Mobile Apps</a></li>
            <li><a href="{{ url_for('coder') }}" class="nav-link px-2 text-secondary">Code Generator</a></li>
            <li><a href="{{ url_for('editor') }}" class="nav-link px-2 text-secondary">Amanuensis</a></li>
            <li><a href="{{ url_for('image_generator') }}" class="nav-link px-2 text-secondary">Image Generator</a></li>
            <li><a href="{{ url_for('transcriber') }}" class="nav-link px-2 text-secondary">Transcriber</a></li>
            <li><a href="https://www.wiztech.site/shop" target="_blank" rel="noopener" class="nav-link px-2 text-secondary">Wiz Store</a></li>
            <li><a href="https://exchange.wiztech.site" target="_blank" rel="noopener" class="nav-link px-2 text-secondary">Wiz Exchange</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
           </li>
          </ul>
      </div>
    </div>
  </nav>

  
  